.header__lang-link {
  font-size: 24px;
  color: #FFFFFF;
  line-height: 1.17;
  justify-self: flex-end;
  text-align: right;
  font-weight: 400;
  text-decoration: none;
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__lang-link:first-of-type {
  margin-right: 18px;
}

@media (max-width: 768px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}