.place__title {
  width: 47%;
  font-weight: bold;
  font-size: 72px;
  line-height: 1.06;
  margin: 0 4% 0 0;
}

@media (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
    width: 100%;
  }
}