.photo-grid {
  display: grid;
  width: 92%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 16px;
  margin: 0 auto;
}

@media (max-width: 1280px) and (min-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .photo-grid {
    grid-template-columns: 100%;
  }
}