.place__image {
  width: 47%;
  margin-right: 4%;
  height: 47%;
}

@media (max-width: 767px) {
  .place__image {
    margin-bottom: 32px;
    margin-left: -4%;
    margin-right: -4%;
    width: calc(100% + 8%);
  }
}