.intro__list {
  width: 690px;
  margin-bottom: 90px;
  padding: 0;
  margin-left: calc(25% / 2);
}

@media (max-width: 1024px) {
  .intro__list {
    margin-left: 4%;
  }
}

@media (max-width: 767px) {
  .intro__list {
    margin-bottom: 60px;
    margin-top: 0;
  }
}