.header {
  display: flex;
  height: 52px;
  width: 92%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .header__logo {
    height: 42px;
  }
}