.footer__link {
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
  margin: 0 18px 0 0;
  text-decoration: none;
}
.footer__link:last-of-type {
  margin: 0;
}

@media (max-width: 768px) {
  .footer__link {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 1;
  }
  .footer__link:last-of-type {
    margin-bottom: 48px;
  }
}