.place__paragraph {
  width: 100%;
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}