.footer__copyright {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .footer__copyright {
   margin: 0;
   line-height: 1;
  }
}