.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 10px;
  margin-left: calc(25%/2);
}

@media (max-width: 1024px) {
  .lead__caption {
    margin-left: 4%;
  }
}