.place {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 0 calc(25% / 2);
  margin-bottom: 80px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .place {
    width: 92%;
    margin: 0 4% 80px 4%;
  }
}

@media (max-width: 767px) {
  .place {
    margin: 0 4% 50px 4%;
  }
}