.place__url-heading {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  margin: 0;
  margin-bottom: 12px;
  width: 100%;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .place__url-heading {
    margin-top: 16px;
  }
}