.place__header {
  width: 75%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 48px;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .place__header {
    width: 92%;
  }
}

@media (max-width: 768px) {
  .place__header{
    margin-bottom: 32px;
  }
}