.intro__title {
  width: 690px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  margin: 0 calc(25% / 2);
}


@media (max-width: 1024px) {
  .intro__title {
    margin-left: 4%;
  }
}

@media (max-width: 768px) {
  .intro__title {
    width: 92%;
    font-size: 32px;
    line-height: 1.09;
  }
}